.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}

.cabecalho img {
    width: 20%;
    display: block;
    max-width: 30%;
    margin-left: 2%;
}

.cabecalho nav {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    padding: 15% 0;
}


.cabecalho a:hover {
    color: #000000;
    background-color: #fff;
}