.rodape {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #000000;
}

.rodape>nav>a>img {
    width: 5em;
    margin: 10%;
}

.rodape>nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodape>h2 {
    color: #fff;
    padding: 1% 5%;
}