@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BREAKPOINT 630px*/
@media(max-width:770px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .cabecalho a {
        font-size: 1em;
    }

    .rodape>nav>a>img {
        width: 3em;
        margin: 10%;
    }

}

/* BREAKPOINT 1150px*/
@media(min-width:770px) and (max-width:1150px) {
    .cabecalho a {
        font-size: 2em;
    }
}